/*------------------------------------*\
      #FOOTER
\*------------------------------------*/

.c-page-foot {
    font-size: .75em;
    padding: $base-spacing-unit $base-spacing-unit*2;
    background-color: $color-page-foot-background;
}

.footer ul {
    display: inline-block;
}

footer a, 
footer a:visited {
    color: $color-links; 
    padding: 0 $base-spacing-unit/4 0 $base-spacing-unit/6;
    border-right: 2px solid $brand-color;
    text-transform: uppercase;
}

footer li:last-child a {
    border: 0;
}

.c-page-foot-copyright {
  font-weight: bold;
}
