/*------------------------------------*\
    #CONTENT WRAPPERS
\*------------------------------------*/

/**
 * General wrapper for any page with content.
 */
.page__content {
    position: relative;
}

/**
 * .content-meta can be used to wrap additional content,
 * like an article time and date or author name. 
 * 
 * Used by elements with a .heading-lead page title and meta data.
 */

.content-meta {
  padding: $base-spacing-unit/2;
}

@media (min-width: 540px) {
  .content-meta {
    padding: 0;
    font-size: 1.25em;
  }
}