/*------------------------------------*\
      # NAVIGATION COMPONENT
\*------------------------------------*/

/**
 * .toggle-panel is the navigation hamburger icon link
 */
a.toggle-panel {
  position: relative;
  display: inline-block;
  vertical-align: middle; 
  width: 40px;
  height: 60px; 
  margin-left: 24px;
}

/**
 * Make and animate the hamburger icon.
 */
.burger-x {
    position: absolute;
    top: 45%;
    left: 0;
    display: block;
    width: 100%;
    height: 8px;
    height: 5px;
    background-color: #231F20;
    font-size: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
    margin: 0 auto;
    text-indent: -9999px;
}
.burger-x:before, .burger-x:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #231F20;
    content: '';
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;

}
.burger-x:before {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
}
.burger-x:after {
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
}

.scotch-is-showing .burger-x {
    background-color: transparent !important;
}
.scotch-is-showing .burger-x:before {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
    background-color: #AAFF9A;
}
.scotch-is-showing .burger-x:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
    background-color: #AAFF9A;
}

/*------------------------------------*\
      # FLY OUT NAVIGATION
\*------------------------------------*/

/**
 * .toggle-panel is the menu hamburger icon link
 */
#main-nav {
    background: #EEEEEE;
    text-align: left;
    font-size: 16px;
    height: 100%;
}

#main-nav .scotch-panel-wrapper,
#main-nav #scotch-panel {
    height: 100%;
}

#main-nav a {
    display: block;
    color: $color-site-nav;
    padding: $base-spacing-unit*.75 $base-spacing-unit;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    transition: all .1s ease;
}

#main-nav a:hover {
    background-color: darken($color-white, 15%);;
}

/**
 * Navigation icons.
 */

#main-nav a i {
  margin-right: .5em;
}

.scotch-panel-top a {
  position: relative;
  background-color: darken($color-white, 10%);
}

a.toggle-nested-scotch-panel:before {
  content: "+";
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    right: $base-spacing-unit;
    top: $base-spacing-unit*.75;
}

#main-nav .scotch-is-showing a.toggle-nested-scotch-panel:before {
  content: "-";
}