/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

$heading-size-1:        36px !default;
$heading-size-2:        28px !default;
$heading-size-3:        24px !default;
$heading-size-4:        20px !default;
$heading-size-5:        18px !default;
$heading-size-6:        16px !default;

h1, .h1 { @include font-size($heading-size-1); }
h2, .h2 { @include font-size($heading-size-2); }
h3, .h3 { @include font-size($heading-size-3); }
h4, .h4 { @include font-size($heading-size-4); }
h5, .h5 { @include font-size($heading-size-5); }
h6, .h6 { @include font-size($heading-size-6); }


/**
 * Make a title stand out! .heading-lead!
 * 
 * Generally used for front page feature and single article titles.
 */
.heading-lead {
  font-size: $heading-size-1; 
  font-family: share-techmono, sans-serif;
  line-height: 1.25;
}

@media (min-width: 540px) {
  .heading-lead {
    font-size: 48px; 
}
}

/**
 * Styling secondary headings a little different than the rest.
 */
h2 {
  font-style: italic;
  font-weight: 300;
}
