/*------------------------------------*\
    #WRAPPERS
\*------------------------------------*/

/**
 * The main wrapper for the site. This constrains the maximum width.
 */
.o-wrapper {
  max-width: 1480px;
  margin: 0 auto;
}

/**
 * The wrapper for article and page content.
 * Let's give the content some space on smaller screens
 * so it doesn't butt up against the window's edge.
 */
.o-wrapper-content__center {
  padding: $base-spacing-unit*2;
  transition: .4s all;
}

/**
 * Let's control the width of the content as screen sizes get bigger.
 */
@media screen and (min-width: 960px) {
  .o-wrapper-content__center {
    width: 80%; 
    margin: 0 auto;
  }  
}

/**
 * On large screens article and page content sits in the center of the screen.
 * 
 * If this value is changed, please change the maths for .o-box__enhance!
 */
@media screen and (min-width: 960px) {
  .o-wrapper-content__center {
    padding: $base-spacing-unit*2 0;
    width: 50%; 
    margin: 0 auto;
  }
}
