@charset "UTF-8";
/*------------------------------------*    #RESET
\*------------------------------------*/
/**
 * As well as using normalize.css, it is often advantageous to remove all
 * margins from certain elements.
 */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title],
dfn[title] {
  cursor: help; }

/**
 * Remove underlines from potentially troublesome elements.
 */
u,
ins {
  text-decoration: none; }

/**
 * Apply faux underlines to inserted text via `border-bottom`.
 */
ins {
  border-bottom: 1px solid; }

/*------------------------------------*    #SHARED
\*------------------------------------*/

/* force vertical scrollbar */
html { overflow-y: scroll; }

body {
  font-size: 18px;
  font-family: "fira-sans", helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #231F20;
  background: #FFFFFF; }

/**
 * Where `margin-bottom` is concerned,this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-bottom: 24px; }

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once,here.
 */
ul, ol, dd {
  margin-left: 48px; }

/*------------------------------------*    #TYPOGRAPHY
\*------------------------------------*/
p {
  line-height: 30px;
  font-weight: 300; }

.small {
  line-height: 30px; }

/*------------------------------------*    #HEADINGS
\*------------------------------------*/
/**
 * Headings 1–6.
 */
h1, h2, h3, h4, h5, h6 {
  color: #231F20; }

/*------------------------------------*    #LINKS
\*------------------------------------*/
a {
  text-decoration: none;
  color: #231F20;
  cursor: pointer; }
  a:hover,
  a:active,
  a:focus {
    text-decoration: underline;
    color: #231F20; }

a:visited {
  text-decoration: none;
  color: #231F20;
  cursor: pointer; }

/*------------------------------------*    #HEADINGS
\*------------------------------------*/
h1, .h1 {
  font-size: 36px;
  line-height: 1.33333; }

h2, .h2 {
  font-size: 28px;
  line-height: 1.71429; }

h3, .h3 {
  font-size: 24px;
  line-height: 1; }

h4, .h4 {
  font-size: 20px;
  line-height: 1.2; }

h5, .h5 {
  font-size: 18px;
  line-height: 1.33333; }

h6, .h6 {
  font-size: 16px;
  line-height: 1.5; }

/**
 * Make a title stand out! .heading-lead!
 *
 * Generally used for front page feature and single article titles.
 */
.heading-lead {
  font-size: 32px;
  font-family: share-techmono, sans-serif;
  line-height: 1.25; }

@media (min-width: 540px) {
  .heading-lead {
    font-size: 48px; } }

/**
 * Styling secondary headings a little different than the rest.
 */
h2 {
  font-style: italic;
  font-weight: 300; }

/*------------------------------------*    #ELEMENTS TYPE
\*------------------------------------*/
blockquote {
  position: relative;
  border: 0;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 300;
  color: #594f51; }

blockquote p {
  font-weight: 300;
  line-height: 1.25; }

blockquote .small:before,
blockquote footer:before,
blockquote small:before {
  content: ''; }

blockquote:before {
  content: "";
  display: block;
  margin-bottom: 18px;
  height: 8px;
  width: 50%;
  background-color: #AAFF9A; }

/**
 * Let's give a blockquote a different color.
 */
.quote-color-custom blockquote {
  color: #CD5C5C; }

.quote-color-custom blockquote:before {
  background-color: #EEEEEE; }

/*------------------------------------*    #CUSTOM LINKS
\*------------------------------------*/
/**
 * Content text is a thin font weight.
 * Let's make the links stand out with a heavier weight.
 */
.article__content a {
  font-weight: normal; }

/**
 * Skip to main content accessibility link.
 * Let's hide it from view but not from screen readers.
 */
.skip-main {
  position: absolute;
  top: -100px;
  /* Styled to match the default WordPress screen reader text */
  background-color: #f1f1f1;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  color: #231F20;
  display: block;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: auto;
  left: 6px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  width: auto;
  transition: top 0.75s ease-out; }

.skip-main:focus {
  top: 7px;
  transition: top 0s;
  z-index: 1;
}

/*------------------------------------*    #WRAPPERS
\*------------------------------------*/

/*------------------------------------*
  #CONTENT WRAPPERS
\*------------------------------------*/
/**
 * General wrapper for any page with content.
 */

.page__content {
  position: relative;
}

/**
 * .content-meta can be used to wrap additional content,
 * like an article time and date or author name.
 *
 * Used by elements with a .heading-lead page title and meta data.
 */
.content-meta {
  padding: 12px; }

@media (min-width: 540px) {
  .content-meta {
    padding: 0;
    font-size: 1.25em; } }


/**
 * The main wrapper for the site. This constrains the maximum width.
 */
.o-wrapper {
  max-width: 1480px;
  margin: 0 auto; }

/**
 * The wrapper for article and page content.
 * Let's give the content some space on smaller screens
 * so it doesn't butt up against the window's edge.
 */
.o-wrapper-content__center {
  padding: 48px;
  transition: .4s all; }

/**
 * Let's control the width of the content as screen sizes get bigger.
 */
@media screen and (min-width: 960px) {
  .o-wrapper-content__center {
    width: 80%;
    margin: 0 auto; } }

/**
 * On large screens article and page content sits in the center of the screen.
 *
 * If this value is changed, please change the maths for .o-box__enhance!
 */
@media screen and (min-width: 960px) {
  .o-wrapper-content__center {
    padding: 48px 0;
    width: 50%;
    margin: 0 auto; } }

/*------------------------------------*    #BOXES
\*------------------------------------*/
.o-box {
  position: relative; }

.o-box__absolute-wide {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%; }

/**
 * The .o-box-absolute__top-left and .o-box-absolute__top-right classes are
 * used with .o-wrapper-content__center wrapper.
 *
 * On larger screens we can pull out elements
 * to sit to the left or right of the content.
 * For example, add to a blockquote to float the quote to the top side of the content.
 *
 * The maths here depends on .o-wrapper-content__center being 50% wide.
 */
@media screen and (min-width: 960px) {
  .o-box-absolute__top-left,
  .o-box-absolute__top-right {
    position: absolute;
    top: 0;
    width: 25%;
    padding: 48px; }
  .o-box-absolute__top-left {
    left: 0; }
  .o-box-absolute__top-right {
    right: 0; } }

/**
 * The .o-box__enhance class is used with .o-wrapper-content__center wrapper.
 * Because .o-wrapper-content__center is 50% wide on larger screens,
 * we can use some easy maths to make an element inside stretch 100% width of screen.
 *
 * The maths here depends on .o-wrapper-content__center being 50% wide.
 */
.o-box__enhance:after {
  content: "" !important;
  display: table !important;
  clear: both !important; }

@media (min-width: 960px) {
  .o-box__enhance {
    width: 200%;
    margin-left: -50%; }
  .o-box__enhance-img {
    width: 75%;
    float: left; }
  .o-box__enhance-content {
    width: 25%;
    float: left;
    padding: 0 24px; } }

/*------------------------------------*    #PACK
\*------------------------------------*/
/**
 * The Pack object simply forces an arbitrary number of elements to pack up
 * horizontally into all the space available in their parent.
 *
 * Example usage:
 *
     <div class="o-pack  [o-pack--equal]">
       <div class="o-pack__item">
         ...
       </div>
       <div class="o-pack__item  [o-pack__item--full]">
         ...
       </div>
       <div class="o-pack__item">
         ...
       </div>
     </div>
 *
 * 1. This is where the magic happens.
 */
.o-pack {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  width: 100%;
  display: table;
  /* [1] */ }

.o-pack__item {
  display: table-cell;
  /* [1] */ }

/**
     * Force one item to take up 100% of the space that the other items don’t
     * need. Cannot be used within `.o-pack--equal` parents.
     */
.o-pack__item--full {
  width: 100%; }

/**
 * Force all packed items to occupy the same amount of space as each other.
 */
.o-pack--equal {
  table-layout: fixed; }

/*------------------------------------*    #LIST-BARE
\*------------------------------------*/
/**
 * Remove bullets and indents from lists.
 */
.o-list-bare {
  margin: 0;
  padding: 0;
  list-style: none; }

.o-list li {
  padding-bottom: 12px; }

.o-list li:last-child {
  padding-bottom: 0; }

.o-list-horizon li {
  display: inline-block; }

/*------------------------------------*      #HEADER
\*------------------------------------*/
.c-page-head {
  position: relative;
  background: #FFFFFF;
  color: #231F20;
  padding: 0 48px;
  overflow: hidden; }
  .c-page-head:after {
    content: "" !important;
    display: table !important;
    clear: both !important; }

.c-page-head .site-logo {
  width: 200px;
  height: 25px; }

/*------------------------------------*      #HEADER SOCIAL LINKS
\*------------------------------------*/
.c-page-head__social {
  display: none; }

@media (min-width: 768px) {
  .c-page-head__social {
    display: table;
    float: right;
    height: 60px; } }

.c-page-head__social--item {
  display: table-cell;
  vertical-align: middle; }

.c-page-head__social--item a,
.c-page-head__social--item a:visited {
  color: #231F20;
  font-size: 32px;
  display: inline-block;
  margin-left: 18px;
  outline: 0; }

.c-page-head__social--item a:hover,
.c-page-head__social--item a:active,
.c-page-head__social--item a:focus {
  color: #AAFF9A; }

/*------------------------------------*      #FOOTER
\*------------------------------------*/
.c-page-foot {
  font-size: .75em;
  padding: 24px 48px;
  background-color: #e1e1e1; }

.footer ul {
  display: inline-block; }

footer a,
footer a:visited {
  color: #231F20;
  padding: 0 6px 0 4px;
  border-right: 2px solid #AAFF9A;
  text-transform: uppercase; }

footer li:last-child a {
  border: 0; }

.c-page-foot-copyright {
  font-weight: bold; }

/*------------------------------------*      # NAVIGATION COMPONENT
\*------------------------------------*/
/**
 * .toggle-panel is the navigation hamburger icon link
 */
a.toggle-panel {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 60px;
  margin-left: 24px; }

/**
 * Make and animate the hamburger icon.
 */
.burger-x {
  position: absolute;
  top: 45%;
  left: 0;
  display: block;
  width: 100%;
  height: 8px;
  height: 5px;
  background-color: #231F20;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 225ms ease;
  margin: 0 auto;
  text-indent: -9999px; }

.burger-x:before, .burger-x:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #231F20;
  content: '';
  transition: all 225ms ease; }

.burger-x:before {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%); }

.burger-x:after {
  -webkit-transform: translateY(200%);
  transform: translateY(200%); }

.scotch-is-showing .burger-x {
  background-color: transparent !important; }

.scotch-is-showing .burger-x:before {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
  background-color: #AAFF9A; }

.scotch-is-showing .burger-x:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
  background-color: #AAFF9A; }

/*------------------------------------*      # FLY OUT NAVIGATION
\*------------------------------------*/
/**
 * .toggle-panel is the menu hamburger icon link
 */
#main-nav {
  background: #EEEEEE;
  text-align: left;
  font-size: 16px;
  height: 100%; }

#main-nav .scotch-panel-wrapper,
#main-nav #scotch-panel {
  height: 100%; }

#main-nav a {
  display: block;
  color: #231F20;
  padding: 18px 24px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.1s ease; }

#main-nav a:hover {
  background-color: #d9d9d9; }

/**
 * Navigation icons.
 */
#main-nav a i {
  margin-right: .5em; }

.scotch-panel-top a {
  position: relative;
  background-color: #e6e6e6; }

a.toggle-nested-scotch-panel:before {
  content: "+";
  transition: all 0.3s ease;
  position: absolute;
  right: 24px;
  top: 18px; }

#main-nav .scotch-is-showing a.toggle-nested-scotch-panel:before {
  content: "-"; }

/*------------------------------------*    #ARTCILE
\*------------------------------------*/
/**
 * The wrappers for article main content
 *
 * .article__content-absolute is an inner wrap for an article list item
 */
.article,
.article__content {
  position: relative; }

.article__content-absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.article__content-absolute:hover {
  background: #231F20;
  background: rgba(255, 255, 255, 0.8); }

/*------------------------------------*
  #ARTCILE LIST
\*------------------------------------*/
/**
 * Display articles in a grid layout
 *
 * These are the classes applied to the articles wrapper.
 *
 */
.article-list,
.packery {
  background-color: #FFFFFF;
  overflow: hidden;
  -webkit-animation: opacity-reveal 5s ;
  -moz-animation:    opacity-reveal 5s ;
  -o-animation:      opacity-reveal 5s ;
  animation:         opacity-reveal 5s ;
}

/* clearfix */
.article-list:after,
.packery:after {
  content: ' ';
  display: block;
  clear: both;
}

  @-webkit-keyframes opacity-reveal {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes opacity-reveal {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes opacity-reveal {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes opacity-reveal {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

/*------------------------------------------------*
  # ARTCILE LIST ITEM
\*------------------------------------------------*/

.article-list__item {
  position: relative;
  width: 50%;
  float: left;
  background: #CCC;
}

.article-list__item.w1-1 { width:  100%; }

.img-bkg-sm,
.img-bkg-md,
.img-bkg-lg {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

[class*="img-bkg-"] {
  height: 240px;
}

@media screen and (min-width: 600px) {
  .article-list__item { width: 25%; }
  .article-list__item.w1-2 { width:  50%; }
  .article-list__item.w3-4 { width:  75%; }
  .article-list__item.w1-1 { width:  100%; }
   }

  .img-bkg-md { height: 480px; }
  .img-bkg-lg { height: 720px; }
}

/*------------------------------------*
#IMAGES
\*------------------------------------*/
/**
 * Classes to control images display
 */

/**
 * bootstrap.css class addition.
 */
.img-responsive {
  margin-bottom: 24px; }

/*------------------------------------*    #DISPLAY
\*------------------------------------*/
/**
 * General helper classes for controlling display
 */
.u-display-none {
  display: none !important; }

.u-display-block {
  display: block !important; }

.u-display-inline {
  display: inline !important; }

.u-display-inline-block {
  display: inline-block !important; }

.u-valign-top {
  vertical-align: top !important; }

.u-valign-middle {
  vertical-align: middle !important; }

.u-valign-bottom {
  vertical-align: bottom !important; }

.color-light__bkg-opaque {
  background: #FFFFFF;
  background: rgba(255, 255, 255, 0.8); }

/**
 * Completely hide content from view and from screenreaders.
 */
.u-hide {
  display: none !important; }

/**
 * Hide content from view, but leave it accessible to screenreaders.
 */
.u-hide-visually {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important; }

.u-margin-0 {
  margin: 0; }

.u-padding-base {
  padding: 24px; }

.u-fa-padding-right {
  padding-right: 0.25em; }

/**
 * Animate the opacity of elements.
 */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

.fade-in.fade-first {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }

.fade-in.fade-second {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

.fade-in.fade-third {
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s; }

  /**
   * Font awesome icons.
   */
  .article-list__item .fa,
  .content-meta .fa,
  .heading-lead .fa {
    padding-right: 0.25em !important; }
